* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #413c3c;
}

main {
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}

header {
    border-bottom: 2px solid black;
}

h1 {
    color: white;
    font-size: 3.5em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

.container {
    position: relative;
    text-align: center;
}

.title {
    position: absolute;
    bottom: 36rem;
    left: 42rem;
    opacity: 0.9;
}

.subheading {
    position: absolute;
    bottom: 16rem;
    right: 6rem;
    opacity: 0.85;
}

p:not(address > p) {
    font-size: 1.6em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #888888;
    color: white;
}

.main > h3, h1 {
    background-color: grey;
}

.nav {
    height: 10vh;
}

.title {
    display: flex;
    justify-content: center;
    margin-top: 15%;
    padding: 1vh 1vw 1vh 1vw;
}

.contact-container {
    display: flex;
    padding: 15px;
    justify-content: space-between;
    align-content: center;
    color: white;
}

.navigation {
    display: flex;
    justify-content: start;
    font-size: 1.7em;
    width: fit-content;
    align-content: center;
}

.subheading {
    display: flex;
    margin: 10vh 15vw 5vh 15vw;
}

.button {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #413c3c;
    color: white;
    padding: 5vh 7.5vw;
    text-align: center;
    font-size: 2.5em;
}

address {
    display: flex;
    flex-direction: column;
}

address p{
    width: 100%;
    font-size: 1.2em;
    width: fit-content;
}

.navigation a{
    height: fit-content;
}

/* Second Page */

.content1 {
    width: 23%;
}

.content1, .img, .content2 {
    margin: 20px
}

.content2 {
    width: 23%;
}

.img {
    width: 45%;
}

a {
    text-decoration: none;
    color: white;
}

a:-webkit-any-link:hover {
    color: blue;
    cursor: pointer;
    text-decoration: none;
}

