* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #D9D9D9;
}

h1 {
    color: white;
    font-size: 3.5em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

p:not(address > p) {
    font-size: 1.6em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #888888;
    color: white;
}

html {
    background-color: #888888;
}

main {
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #888888;
}

.main > h3, h1 {
    background-color: grey;
}

header {
    border-bottom: 2px solid black;
}

.nav {
    height: 10vh;
}

.title {
    display: flex;
    justify-content: center;
    margin-top: 15%;
    padding: 1vh 1vw 1vh 1vw;
}

.contact-container {
    display: flex;
    /* padding-right: 0 5vw 0; */
    padding: 15px;
    justify-content: space-between;
    align-content: center;
}

.navigation {
    display: flex;
    justify-content: start;
    /* padding-left: 5%; */
    font-size: 1.7em;
    text-decoration: underline;
    width: fit-content;
    align-content: center;
}

.subheading {
    display: flex;
    margin: 10vh 15vw 5vh 15vw;
}

.button {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 5vh;
    background-color: #413c3c;
    border: none;
    color: white;
    padding: 5vh 7.5vw;
    text-align: center;
    text-decoration: none;
    font-size: 2.5em;
}

address {
    display: flex;
    flex-direction: column;
}

address p{
    width: 100%;
    font-size: 1.2em;
    width: fit-content;
}

.navigation a{
    height: fit-content;
}

/* Second Page */

.content1 {
    width: 25%;
}

.content1, .img, .content2 {
    margin: 20px
}